@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../img/greyfloral.png);
}
#header{ 
	height:154px;
	width:940px; 
	margin:0 auto; 
	overflow: visible;
}



#masthead{
	width:940px;
	margin:-70px 165px auto; 
	clear: both;
	position: relative;}
  
#logo {
	margin: 100px;
	padding: 350px 0px;	
}

#branding{
	position: relative; 
	display: block;
	height: 166px;
	width: 151;
	top:0px; left:40%; 
	margin-left:-55px;
}
	

#site_name, #site_description{
	position: absolute; 
	top: -100px; 
	left:355px; 
	width:320px; 
	height:15px; 
	overflow: visible; 
}
	
#site_description{
	left:570px; 
	background-position: -647px -47px;
}
     
.nav {
	display: inline;
	clear:both;
	list-style: none;
	text-decoration: none;
}

li {
  /* viewport */
  text-decoration:none;
 	padding: 5px 0 4px 15px;
	font-family: 'Lobster', cursive;
	font-size:20px;
  float: left; /* makes list horizontal */
  list-style: none;
  margin: 0 0 0 10px; /* separates 'buttons' */
}

a:link,
a:visited {
  padding: 5px 15px; /* makes target area bigger */
  color: white; /* rgba backup */
  text-decoration: none;
  font-weight: bold;
 background: url("https://dl.dropboxusercontent.com/u/108947042/hearts.png") no-repeat 0 -32px;
  /* viewport */
  padding: 10px 0 4px 40px;
}

a:hover, a:focus {
	background-position: 0 4px;
  -webkit-transition: background: 3s;
  
}


